{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm,{

        'attr':{
            'novalidate':'novalidate'
        }

    }) }}

    <div class="flex flex-col">
        {{ form_label(registrationForm.name,'Please enter the name',
            {'label_attr':{
                'class':'for_label'
            }}
        ) }}
        {{ form_widget(registrationForm.name,{
            'attr':{
                'class':'form_widget'
            }

        }) }}
        {{ form_errors(registrationForm.name) }}



        {{ form_label(registrationForm.email,'Please enter the email',
            {'label_attr':{
                'class':'for_label'
            }}
        ) }}
        {{ form_widget(registrationForm.email,{
            'attr':{
                'class':'form_widget'
            }

        }) }}
        {{ form_errors(registrationForm.email) }}


        {{ form_label(registrationForm.plainPassword.first,'Please enter the password',
            {'label_attr':{
                'class':'for_label'
            }}
        ) }}
        {{ form_widget(registrationForm.plainPassword.first,{
            'attr':{
                'class':'form_widget'
            }

        }) }}

        {{ form_errors(registrationForm.plainPassword.first) }}

        {{ form_label(registrationForm.plainPassword.second,'Please repeat the password',
            {'label_attr':{
                'class':'for_label'
            }}
        ) }}
        {{ form_widget(registrationForm.plainPassword.second,{
            'attr':{
                'class':'form_widget'
            }

        }) }}

        {{ form_errors(registrationForm.plainPassword.second) }}

        {{ form_label(registrationForm.agreeTerms,'agree term',
            {'label_attr':{
                'class':'for_label'
            }}
        ) }}
        {{ form_widget(registrationForm.agreeTerms,{
            'attr':{
                'class':'form_widget'
            }

        }) }}
        {{ form_errors(registrationForm.agreeTerms) }}



        {#    {{ form_row(registrationForm.agreeTerms) }} #}

        <button type="submit" class="btn">Register</button>
    </div>


    {{ form_end(registrationForm) }}
{% endblock %}
