{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}

    <div class="flex flex-col">
        <div class="text-xl">
            Post Detail
        </div>

        <div>
            {{ post.text }}
        </div>
        <div>
            {{ post.createDateTime|date }}
        </div>
        <div>
            {{ post.editDateTime|date }}
        </div>


        {{ form_start(commentForm,{
            'attr':{
                'novalidate':'novalidate'
            }

        }) }}

        {{ form_widget(commentForm.text,{
            'attr':{
                'class':'form_widget'
            }

        }) }}
        {{ form_errors(commentForm.text) }}
        <button type="submit" class="btn">Comment</button>

        {{ form_end(commentForm) }}


        <div>
            {% for comment in post.comments %}


                <div class="border rounded p-1 flex flex-col">
                    <div>
                        {{ comment.text }}
                    </div>

                    <div>
                        {% if  comment.updated == null %}
                            {{ comment.updated|date }}
                        {% else %}
                            {{ comment.created|date }}
                        {% endif %}

                        {#                        TODO edit #}
                        {% if app.user.id ==  comment.user.id or is_granted('ROLE_SUPER_ADMIN') %}
                            <a class="border border-amber-600 p-3"
                               href="{{ path('app_comment_edit',{'comment':comment.id}) }}"


                            >Edit</a>


                            <a class="border border-amber-600 p-3"
                               href="{{ path('app_comment_delete',{'comment':comment.id}) }}"


                            >Delete</a>
                        {% endif %}

                    </div>
                </div>


            {% endfor %}
        </div>


    </div>

{% endblock %}
